#resultado {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.resultado{
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px; 
}